            :root {
            --dark-blue: #000000;
            --light-green: #000000;
            --yellow: #ffffff;
            --orange: #ffffff;
            --salmon: #95faf5;
            }
            .container {
            color: var(--dark-blue);
            font-size: 20px;
            font-weight: bold;
            min-height: 100vh;
            background-color: var(--yellow);
            }

            .row {
            border: 1px solid var(--dark-blue);
            min-height: 50px;
            }

            [class^="col-"] {
            border: 1px solid var(--light-green);
            min-height: 50px;
            }
            .black{
                background-color: black;
                border-color: black;
            }
            .grey{
                background-color: grey;
                border-color: grey;
            }
                .green{
                background-color: green;
                border-color: green;
            }
                 .red{
                background-color: red;
                border-color: red;
            }